<div>
    <div class="insurance_types">
        <div class="it"><img src="assets/img/Pages/index/Health.svg">
            <div class="it_t">
                ჯამრთელობის
            </div>
            <div class="it_ins">
                დაზღვევა
            </div>
        </div>
        <div class="it"><img src="assets/img/Pages/index/Property.svg">
            <div class="it_t">
                ქონების
            </div>
            <div class="it_ins">
                დაზღვევა
            </div>
        </div>
        <div class="it"><img src="assets/img/Pages/index/Casco.svg">
            <div class="it_t">
                ავტომობილის
            </div>
            <div class="it_ins">
                დაზღვევა
            </div>
        </div>
        <div class="it"><img src="assets/img/Pages/index/Travel.svg">
            <div class="it_t">
                სამოგზაურო
            </div>
            <div class="it_ins">
                დაზღვევა
            </div>
        </div>
    </div>
    <div class="when_u_trast">
        ᲠᲝᲪᲐ ᲔᲜᲓᲝᲑᲘ ᲣᲤᲠᲝ ᲛᲨᲕᲘᲓᲐᲓ ᲮᲐᲠ!
    </div>
</div>